version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "weekly"
    open-pull-requests-limit: 10
    labels:
      - "dependencies"
    groups:
      radix:
        patterns:
          - "@radix-ui/*"
      storybook:
        patterns:
          - "@storybook/*"
          - "storybook"
      testing:
        patterns:
          - "vitest*"
          - "@vitest/*"
          - "@testing-library/*"

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
    labels:
      - "ci"
